
seq.fna
files_stat.xls
files_stat.xls
.vscode/settings.json
files_stat.xls
*.pyc
species_curation/bam_stat.tsv
species_curation/data_summary_merge.tsv
uniport/uniprot_index.tsv
uniport/uniprot_index_silly.tsv
